<div>
  Time ([HH:]MM:SS) 
  <input id='txtTime' type='text' placeholder='How long is the run?' value='48:02' />
  <button class='calculate-btn' for='txtTime'>Calculate</button>
</div>
x
<div>
  Pace in mins/km (MM:SS)
  <input id='txtPace' type='text' placeholder='How fast do you go?' />
  <button class='calculate-btn' for='txtPace'>Calculate</button>
</div>
=
<div>
  Distance in kilometers
  <input id='txtDistance' type='text' placeholder='How far do you go?' value='10' />
  <button class='calculate-btn' for='txtDistance'>Calculate</button>
</div>

<script type='text/javascript'>
$(function() {
function padLeft(x) {
var str = "" + x;
return ('00'+str).substring(str.length);
}

function timeToSeconds(timestr) {
var parts = timestr.split(':').reverse();

var result = 0;
for(var i = 0; i < parts.length; i++) {
result += (parts[i] * Math.pow(60, i));
}

return result;
}

function secondsToTime(secs) {
var parts = [];

while(secs > 0){
var mod = secs % 60;
parts.push(padLeft(Math.floor(mod)));

secs = Math.floor(secs / 60);
}

return parts.reverse().join(':');
}

$('.calculate-btn').click(function() {
var time = timeToSeconds($('#txtTime').val());
var pace = timeToSeconds($('#txtPace').val());
var dist = $('#txtDistance').val();

var target = $(this).attr('for');
var result;

if(target === 'txtTime') {
result = dist * pace;
$('#txtTime').val(secondsToTime(result));
}

if(target === 'txtPace') {
result = time / dist;
$('#txtPace').val(secondsToTime(result));
}

if(target === 'txtDistance') {
result = time / pace;
var rounded = Math.round(result * 100) / 100;
$('#txtDistance').val(rounded);
}
})
});
</script>